.search-result {
  margin-bottom: 1.2em;
}

.search-result article {
  line-height: normal;
}

.search-result h4 {
  line-height: normal;
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}

.search-result .current {
  font-weight: $font-weight-bold;
}
