doctype html
html
  head
    title Stadtratmonitor Leipzig - Glossar
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags

  body
    .row
      .small-12.columns
        .clearfix
        h3#title = 'Glossar'
        p
          | Die folgenden Erläuterungen wurden besten Wissens und Gewissens nach Studium des ursprünglichen Ratsinformationssystems 
            erstellt und erheben keinen Anspruch auf Vollständigkeit und Richtigkeit. Für tiefergehende Informationen sei auf
            die <a href="https://revosax.sachsen.de/vorschrift_gesamt/2754.html">Sächsische Gemeindeordnung (SächsGemO)</a>,
            dort insbesondere auf die <a href="https://revosax.sachsen.de/vorschrift_gesamt/2754.html#t_III">Verfassung und Verwaltung der Gemeinde</a>, 
            sowie auf die <a href="http://docplayer.org/66416981-Allgemeine-verwaltung-1-4-geschaeftsordnung-fuer-die-ratsversammlung-stadtrat-der-stadt-leipzig-und-ihre-ausschuesse.html">
            Geschäftsordnung für die Ratsversammlung (Stadtrat) der Stadt Leipzig und ihre Ausschüsse</a> verwiesen.
        h5#process = 'Ablauf'
        p
          | Neue (Beschluss-)Vorlagen werden zunächst im Vorfeld der Ratsversammlung von den einzelnen Fraktionen in nicht-öffentlichen 
            Fraktionssitzungen besprochen, so dass in der Ratsversammlung bereits klar ist, ob die Vorlage dann direkt debattiert wird
            (1. Lesung) oder direkt an die zuständigen beratenden Gremien verwiesen werden, wo sie in nicht-öffentlichen Sitzungen vorberaten werden. 
            Der 2. und 3. Lesung liegen dann die Beschlussempfehlungen der beratenden Gremien, z.B. der jeweiligen Fachausschüsse, zu Grunde.
            Stadträte, Fraktionen und Verwaltungsorgane können zu dem Änderungsanträge zu der bestehenden Vorlage gestellt werden, über deren
            Annahme / Einarbeitung wiederum abgestimmt werden kann. Auch eine Neufassung der ursprünglichen Vorlage ist möglich, wenn die 
            Änderungen zu grundlegend sind. Die Verwaltung selbst, falls von der Vorlage direkt betroffen, kann ihrerseits einen so genannten
            Verwaltungsstandpunkt abgeben, der dann in die weitere Beratung einfließen kann oder gar als neue Beschlussvorlage übernommen werden kann.
        h5#items = 'Elemente'
        ul 
          li <b>Vorlage</b>
          ul
              li <b>Beschlussvorlage:</b> Problemstellung mit Entwurf eines Lösungsvorschlags, über den in einem Gremium, z.B. der Ratsversammlung, abgestimmt werden soll
              ul
                li <b>Beispiel:</b> https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009094
              li <b>Antrag:</b> konkreter Auftrag an die Verwaltung, über dessen Annahme in der Ratsversammlung abgestimmt werden soll
              ul
                li <b>Beispiel:</b> https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1007392
              li <b>Anfrage:</b> Fragen einer Fraktion oder einzelner Stadträte an der Verwaltung, die entweder mündlich in der Ratssitzung oder schriftlich beantwortet wird
              ul
                li <b>Einwohneranfrage:</b> Fragen von Leipziger Bürger an der Verwaltung. Wie solche gestellt werden können, ist 
                <a href="https://www.leipzig.de/buergerservice-und-verwaltung/buergerbeteiligung-und-einflussnahme/einwohneranfrage/">hier</a> beschrieben.
                li <b>schriftliche Antwort zur Anfrage:</b> die Reaktion auf die Anfrage zum Nachlesen
              li <b>Reaktionen</b>
              ul
                li <b>Verwaltungsstandpunkt</b>
                ul
                  li <b>Zustimmung / Zustimmung mit Ergänzung</b>
                  li <b>Ablehnung / Ablehnung, da bereits Verwaltungshandeln</b>
                  li <b>Alternativvorschlag</b>
                  li <b> Sachstandsbericht</b>
                li <b>Änderungsantrag</b>
                li <b>Neufassung</b>
              li <b>Informationsvorlage:</b> Information aus der Stadtverwaltung zur allgemeinen Kenntnisnahme in den Gremien, bedarf selbst keiner Abstimmung
              li <b>Petition</b>
              li <b>Wichtige Angelegenheit</b>
          li <b>Vorlagenstruktur</b>
          ul
            li <b>Sachverhalt:</b> Schilderung der aus Sicht des Antragsstellers bestehende Problemlage
            li <b>Beschlussvorschlag:</b> Empfehlungen zu konkreten Maßnahmen zur Lösung der Problemlage aus Sicht des Antragstellers, die ergriffen werden sollen, wenn die Ratsversammlung dieser Vorlage zustimmt
            li <b>Beratungsfolge</b>
            li <b>Status</b>
          li <b>Gremium</b>
          ul
            li <b>Stadtrat (Organ):</b> besteht aus den Stadträten und dem Bürgermeister als Vorsitzenden, siehe auch den Beitrag in <a href="https://de.wikipedia.org/wiki/Stadtrat">Wikipedia</a>
            li <b>Stadtrat (Person):</b> auf 5 Jahre von den Bürgern der Stadt gewähltes Mitglied des Stadtrats, das diese Funktion ehrenamtlich ausübt
            li <b>Faktion: </b> ist eine freiwilliger Zusammenschluss von Stadträten, die so besser gemeinsame Interessen und Ziele durchsetzen können, siehe auch den Beitrag in der <a href="https://de.wikipedia.org/wiki/Fraktion_(Politik)">Wikipedia</a>. In Leipzig sind aktuell <a href="https://www.leipzig.de/buergerservice-und-verwaltung/stadtrat/fraktionen/">diese Fraktionen</a> vertreten.
            li <b>Ratsversammlung: </b> findet einmal im Monat im Sitzungssaals des Rathaus statt und ist durch Tagungsordnungspunkte (TOP) strukturiert.
            li <b>Ältestenrat:</b> besteht aus Faktionsvorsitzende sowie dem Oberbürgermeister als Vorsitzenden, berät den Oberbürgermeister hinsichtlich Tagesordnung und Verhandlungsständen
            li <b>Ausschuss:</b> Untergremium des Stadtrats, um ein bestimmtes politisches oder fachliches Thema abzudecken. Besteht neben Mitgliedern aus dem Stadtrat auch aus sachkundigen Einwohnern. Es gibt beschließende und beratende Ausschüsse, wie <a href="https://www.leipzig.de/buergerservice-und-verwaltung/stadtrat/ratsversammlung/ausschuesse-der-ratsversammlung/" >hier für Leipzig</a> beschrieben. Alle Ausschüsse in Leipig sind <a href="https://ratsinfo.leipzig.de/bi/au010.asp?T1=Aussch%FCsse&AU=Ausschuss&SORTVON=0&SORTBIS=98">hier</a> aufgelistet.
            li <b>Beirat:</b> Ansprechpartner für die von ihnen vertretenen Interessensgruppen. Beraten Stadtrat, Ausschüsse, Stadt-Verwaltung, Institutionen, Verbände und soziale Einrichtungen im Stadtgebiet hinsichtlich spezifischer Probleme ihrer Klientel. Erarbeitet auch Lösungsvorschläge und unterstützt bei der Planung deren Umsetzung. Besteht neben Mitgliedern aus dem Stadtrat auch aus sachkundigen Einwohnern. In Leipzig existieren für jeden Stadtbezirk so genannte <a href="https://www.leipzig.de/buergerservice-und-verwaltung/stadtrat/stadtbezirksbeiraete/">Stadtbezirksbeiräte</a>, die die Interessen eben dieser Bezirke vertreten. Deneben gibt es noch die <a href="https://www.leipzig.de/buergerservice-und-verwaltung/stadtrat/ortschaftsraete/">Ortschaftsräte</a> und die <a href="https://www.leipzig.de/buergerservice-und-verwaltung/stadtrat/fachbeiraete/">Fachbeiräte</a>.

