doctype html
html
  head
    title Stadtratmonitor Leipzig - Glossar
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body
    .row
      .small-12.columns
        .clearfix
        h3#title = 'Glossar'
        p
          | Die folgenden Erläuterungen wurden besten Wissens und Gewissens nach Studium des ursprünglichen Ratsinformationssystems 
            erstellt und erheben keinen Anspruch auf Vollständigkeit und Richtigkeit. Für tiefergehende Informationen sei auf
            die <a href="https://revosax.sachsen.de/vorschrift_gesamt/2754.html">Sächsische Gemeindeordnung (SächsGemO)</a>,
            dort insbesondere auf die <a href="https://revosax.sachsen.de/vorschrift_gesamt/2754.html#t_III">Verfassung und Verwaltung der Gemeinde</a>, 
            sowie auf die <a href="http://docplayer.org/66416981-Allgemeine-verwaltung-1-4-geschaeftsordnung-fuer-die-ratsversammlung-stadtrat-der-stadt-leipzig-und-ihre-ausschuesse.html">
            Geschäftsordnung für die Ratsversammlung (Stadtrat) der Stadt Leipzig und ihre Ausschüsse</a> verwiesen.
        h5#process = 'Ablauf'
        p
          | Neue (Beschluss-)Vorlagen werden zunächst im Vorfeld der Ratsversammlung von den einzelnen Fraktionen in nicht-öffentlichen 
            Fraktionssitzungen besprochen, so dass in der Ratsversammlung bereits klar ist, ob die Vorlage dann direkt debattiert wird
            (1. Lesung) oder direkt an die zuständigen beratenden Gremien verwiesen werden, wo sie in nicht-öffentlichen Sitzungen vorberaten werden. 
            Der 2. und 3. Lesung liegen dann die Beschlussempfehlungen der beratenden Gremien, z.B. der jeweiligen Fachausschüsse, zu Grunde.
            Stadträte, Fraktionen und Verwaltungsorgane können zu dem Änderungsanträge zu der bestehenden Vorlage gestellt werden, über deren
            Annahme / Einarbeitung wiederum abgestimmt werden kann. Auch eine Neufassung der ursprünglichen Vorlage ist möglich, wenn die 
            Änderungen zu grundlegend sind. Die Verwaltung selbst, falls von der Vorlage direkt betroffen, kann ihrerseits einen so genannten
            Verwaltungsstandpunkt abgeben, der dann in die weitere Beratung einfließen kann oder gar als neue Beschlussvorlage übernommen werden kann.
        h5#items = 'Elemente'
        ul 
          li <b>Vorlage</b>
          ul
              li <b>Beschlussvorlage:</b> Problemstellung mit Entwurf eines Lösungsvorschlags, über den in einem Gremium, z.B. der Ratsversammlung, abgestimmt werden soll
              ul
                li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009094">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009094</a>
              li <b>Antrag:</b> konkreter Auftrag an die Verwaltung, über dessen Annahme in der Ratsversammlung abgestimmt werden soll
              ul
                li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1007392">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1007392</a>
              li <b>Anfrage:</b> Frage einer Fraktion oder einzelner Stadträte an die Verwaltung, die entweder mündlich in der Ratssitzung oder schriftlich beantwortet wird
              ul
                li <b>Beispiel: </b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009259">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009259</a>
                li <b>Einwohneranfrage:</b> Fragen von Leipziger Bürger an der Verwaltung. Wie solche gestellt werden können, ist 
                <a href="https://www.leipzig.de/buergerservice-und-verwaltung/buergerbeteiligung-und-einflussnahme/einwohneranfrage/">hier</a> beschrieben.
                ul
                  li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009373">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009373</a>
                li <b>schriftliche Antwort zur Anfrage:</b> die Reaktion auf die Anfrage zum Nachlesen (mündliche Antworten werden nicht dokumentiert)
                ul
                  li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009309">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009309</a>
              li <b>Wichtige Angelegenheit:</b> Beschlussvorlage, die, aus Sicht des Einreichers, mit hoher Priorität zu bearbeiten ist, da sonst bei Verzug mit Nachteilen zu rechnen ist
              ul
                li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1004172">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1004172</a>
              li <b>Wichtige Angelegenheit:</b> Beschlussvorlage, die, aus Sicht des Einreichers, mit höherer Priorität zu bearbeiten ist, da sonst bei Verzug mit Nachteilen zu rechnen ist
              ul
                li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1004172">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1004172</a>
          li <b>Reaktionen</b>
          ul
            li <b>Verwaltungsstandpunkt:</b> Stellungnahme der Verwaltung bezüglich einer Beschlussvorlage, einer Anfrage oder eines Antrags, die eine Empfehlung hinsichtlich der weiteren Bearbeitung abgibt:
            ul
              li <b>Zustimmung / Zustimmung mit Ergänzung:</b> der ursprünglichen Beschlussvorlage wird im Prinzip von der Verwaltung zugestimmt, so dass sie aus Sicht der Verwaltung zur Abstimmung gegeben werden kann
              ul
                li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009051">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009051</a>
              li <b>Ablehnung / Ablehnung, da bereits Verwaltungshandeln:</b> die Verwaltung empfiehlt, die Beschlussvorlage oder Antrag abzulehnen, weil entweder die Nachteile, die bei Umsetzung entstehen würden, zu groß wären oder die Forderungen aus der Vorlage aus Sicht der Verwaltung schon so umgesetzt sind 
              ul
                li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1008608">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1008608</a>
              li <b>Alternativvorschlag</b> die Verwaltung empfiehlt, die Beschlussvorlage oder Antrag mit ihren enthaltenen Lösungsvorschlägen abzulehnen, stimmt aber der geschilderten Problemlage zu und präsentiert deswegen ihrerseits Vorschläge, um dieser abzuhelfen. Diese könnten in Folge vom ursprünglichen Antragsteller oder jemand anderen aufgegriffen werden und in Form einer Änderung oder Neufassung der ursprünglichen Vorlage wieder zur Diskussion gestellt werden
              ul
                li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009001">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009001</a>
              li <b> Sachstandsbericht: </b> es wird der aktuelle Lage geschildert, ohne diese zu werten oder eine Empfehlung auszusprechen. Diese Informationen könnten in Folge vom ursprünglichen Antragsteller oder jemand anderen aufgegriffen werden und in Form einer Änderung oder Neufassung der ursprünglichen Vorlage wieder zur Diskussion gestellt werden.  
              ul
                li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1008613">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1008613</a>
            li <b>Änderungsantrag:</b> die ursprüngliche Vorlage wird in einzelnen Punkten abgeändert bzw. der Beschlussvorschlag aus durch einen Vorschag ersetzt. Üblicherweise werden Änderungsanträge von jemand anderen als dem Verfasser der Ursprungsvorlage formuliert, während Neufassung vom ursprünglichen Vorlagen-Einreicher kommen.
            ul
              li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1008935">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1008935</a>
            li <b>Neufassung: </b> die ursprüngliche Vorlage wird durch diese Vorlage ersetzt. Dies geschieht in Regel als Antwort auf die Reaktionen auf die ursprüngliche Vorlage. Üblicherweise werden Neufassungen vom Verfasser der Ursprungsvorlage formuliert, während Änderungsanträge von anderen Antragstellern eingereicht werden. 
            ul
              li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009383">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1009383</a>
          li <b>Informationsvorlage:</b> Information aus der Stadtverwaltung zur allgemeinen Kenntnisnahme in den Gremien, bedarf selbst keiner Abstimmung
          ul
            li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1008870">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1008870</a>
          li <b>Petition:</b> Gesuch oder Beschwerde eines Bürgers an die Verwaltung, mehr Informationen in <a href="https://de.wikipedia.org/wiki/Petition">Wikipedia</a>. Wie in Leipzig Petitionen eingereicht werden können, ist <a href="https://www.leipzig.de/buergerservice-und-verwaltung/buergerbeteiligung-und-einflussnahme/petition/">hier</a> beschrieben. Die so gestellten Petitionen werden vom Petitionsausschuss behandelt.
          ul
            li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1007811">https://ratsinfo.leipzig.de/bi/vo020.asp?VOLFDNR=1007811</a>
          li <b>Vorlagenstruktur</b>
          ul
            li <b>Sachverhalt:</b> Schilderung der aus Sicht des Antragsstellers bestehende Problemlage
            li <b>Beschlussvorschlag:</b> Empfehlungen zu konkreten Maßnahmen zur Lösung der Problemlage aus Sicht des Antragstellers, die ergriffen werden sollen, wenn die Ratsversammlung dieser Vorlage zustimmt
            li <b>Beratungsfolge:</b> Zeitlicher Durchlauf der Vorlage durch die einzelnen Gremien mit jeweiligen Beratungs-Ergebnis, sofern schon vorliegend.   
            li <b>Beschlussart:</b>
            ul
              li <b>Bestätigung:</b> in Dienstberatung des Oberbürgermeisters wird die Vorlage bestätigt
              li <b>Vorberatung:</b> Diskussion / Beratung in einem Ausschuss
              li <b>(offen):</b> kein Ergebnis durch das Gremium erzielt
              li <b>Verweisung in die Gremien:</b> in erste Ratssammlung, nach dem eine Vorlage eingereicht wurde, wird diese in das oder die zuständigen Gremien verwiesen (welche das sind, ist meist schon im Vorfeld geklärt) 
              li <b>zur Kenntnis genommen:</b> meistens bezogen auf eine Informationsvorlage oder einem Verwaltungsstandpunkt, die von einem Gremium nur zur Kenntnis genommen werden soll (und damit nicht unbedingt einer Abstimmung bedarf), kann aber auch ein Vorstadium sein, um die Stadträte darauf aufmerksam zu machen, dass sie sich z.B. Gedanken zur Beantwortung einer Anfragen machen sollen.  
              li <b>Lesung (1. Lesung, 2. Lesung): </b> Beratung / Diskussion in einem Gremium / in einer Stadtratssitzung. Es kann maximal bis zu zwei Lesungen in einem Gremium geben, eine Vorlage kann aber in mehreren Gremien beraten werden, die alle jeweils einen Beschlussvorschlag abgeben können.
              li <b>Anhörung: </b> um die eventuell weiterreichenden Folgen einer Beschlussvorlage im Vorfeld besser abschätzen zu können, gibt es öffentliche Anhörungen, an die potenziell betroffenen Bevölkerungsgruppen teilnehmen können. Die Beschlussvorlage wird ihnen vorgestellt und sie können direktes Feedback geben. Siehe auch den Antrag der FDP-Fraktion für die Einführung eines <a href="http://fdp-stadtrat-leipzig.de/antraege/anhoerungsverfahren/">Anhörungsverfahrens</a>
              li <b>Beschlussfassung:</b> die eigentliche Abstimmung über den Beschluss in der Stadtratssitzung bzw. in einem beschlussfähigem Ausschuss. AKtuelle Beschlüsse können <a href="https://ratsinfo.leipzig.de/bi/to035.asp">hier</a> eingesehen werden.
              ul
                li <b>zurückgestellt:</b> über die Vorlage wird zu einem späteren Zeitpunkt abgestimmt
                li <b>ungeändert beschlossen:</b> der Vorlage (kann auch eine Neufassung oder Änderung sein) wurde von einer Mehrheit der Stadträte zugestimmt
                li <b>geändert beschlossen:</b> kurz vor der Abstimmung wurde (mit Zustimmung des Einreichers) die ursprüngliche Vorlage noch abgeändert, und dieser wurde von einer Mehrheit der Stadträte zugestimmt
                li <b>abgelehnt:</b> die Vorlage wurde von einer Mehrheit der Stadträte nicht zugestimmt (dabei gilt auch Stimmengleichstand als Ablehnung)
                li <b>zurückgezogen:</b> der Einreicher hat sich entschieden, seine Vorlage nicht mehr zur Abstimmung zu stellen 
            li <b>Protokoll / Protokollauszug: </b> zum Teil werden Sitzungsprotokolle oder zu mindestens Auszüge daraus öffentlich verfügbar gemacht
            ul
              li <b>Beispiel:</b> <a href="https://ratsinfo.leipzig.de/bi/vo021.asp?topSelected=1072868">https://ratsinfo.leipzig.de/bi/vo021.asp?topSelected=1072868</a>   
          li <b>Gremium</b>
          ul
            li <b>Stadtrat (Organ):</b> besteht aus den Stadträten und dem Bürgermeister als Vorsitzenden, siehe auch den Beitrag in <a href="https://de.wikipedia.org/wiki/Stadtrat">Wikipedia</a>
            li <b>Stadtrat (Person):</b> auf 5 Jahre von den Bürgern der Stadt gewähltes Mitglied des Stadtrats, das diese Funktion ehrenamtlich ausübt
            li <b>Faktion: </b> ist eine freiwilliger Zusammenschluss von Stadträten, die so besser gemeinsame Interessen und Ziele durchsetzen können, siehe auch den Beitrag in der <a href="https://de.wikipedia.org/wiki/Fraktion_(Politik)">Wikipedia</a>. In Leipzig sind aktuell <a href="https://www.leipzig.de/buergerservice-und-verwaltung/stadtrat/fraktionen/">diese Fraktionen</a> vertreten.
            li <b>Ratsversammlung: </b> findet einmal im Monat im Sitzungssaals des Rathaus statt und ist durch Tagungsordnungspunkte (TOP) strukturiert.
            li <b>Ältestenrat:</b> besteht aus Faktionsvorsitzende sowie dem Oberbürgermeister als Vorsitzenden, berät den Oberbürgermeister hinsichtlich Tagesordnung und Verhandlungsständen
            li <b>Ausschuss:</b> Untergremium des Stadtrats, um ein bestimmtes politisches oder fachliches Thema abzudecken. Besteht neben Mitgliedern aus dem Stadtrat auch aus sachkundigen Einwohnern. Es gibt beschließende und beratende Ausschüsse, wie <a href="https://www.leipzig.de/buergerservice-und-verwaltung/stadtrat/ratsversammlung/ausschuesse-der-ratsversammlung/" >hier für Leipzig</a> beschrieben. Alle Ausschüsse in Leipig sind <a href="https://ratsinfo.leipzig.de/bi/au010.asp?T1=Aussch%FCsse&AU=Ausschuss&SORTVON=0&SORTBIS=98">hier</a> aufgelistet. Ausschüsse sollen den Stadtrat entlasten.
            li <b>Beirat:</b> Ansprechpartner für die von ihnen vertretenen Interessensgruppen. Beraten Stadtrat, Ausschüsse, Stadt-Verwaltung, Institutionen, Verbände und soziale Einrichtungen im Stadtgebiet hinsichtlich spezifischer Probleme ihrer Klientel. Erarbeitet auch Lösungsvorschläge und unterstützt bei der Planung deren Umsetzung. Besteht neben Mitgliedern aus dem Stadtrat auch aus sachkundigen Einwohnern. In Leipzig existieren für jeden Stadtbezirk so genannte <a href="https://www.leipzig.de/buergerservice-und-verwaltung/stadtrat/stadtbezirksbeiraete/">Stadtbezirksbeiräte</a>, die die Interessen eben dieser Bezirke vertreten. Deneben gibt es noch die <a href="https://www.leipzig.de/buergerservice-und-verwaltung/stadtrat/ortschaftsraete/">Ortschaftsräte</a> und die <a href="https://www.leipzig.de/buergerservice-und-verwaltung/stadtrat/fachbeiraete/">Fachbeiräte</a>.
            li <b>Dezernat:</b> Abteilung in der Stadtverwaltung mit bestimmter sachlicher Zuständigkeit, siehe auch <a href="https://de.wikipedia.org/wiki/Dezernat">Wikipedia</a>
